.col-md-12 ul li{
    list-style: none;
    margin: 25px 0;
}

.col-md-12 ul li a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;   
}

.col-md-12 ul li a:hover{
    color: #66FFCC;
}




